@import './variables.scss';

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        

        section.header-element{
            width: 95%;
            display: flex;
            margin-top: 15px;
            background-color: #f2f2f2;
            
            .logo{
                width: 10%;
                margin-top: 40px;
                margin-left: 20px;
            }

            nav{
                width: 60%;
                display: flex;
                align-items: center;
            }

            nav > ul{
                margin: 0;
                padding: 0;
                span.burger{
                    visibility: hidden;
                }

                &:hover{
                    visibility: visible;
                }
            }

            nav > ul::after{
                content: "";
                display: block;
                clear: both ;
            }

            nav > ul > li{
                float: left;
                position: relative;
            }

            nav > ul > li > a{
                padding: 20px 30px;
                color:hsl(0, 0%, 41%);

                &:hover{
                    color: black;
                }
                
            }

            nav li{
                list-style-type: none;
            }

            .submenu{
                display: none;
            }

            nav a{
                display: inline-block;
                text-decoration: none;
            }

            nav li:hover .submenu{
                display: inline-block;
                position: absolute;
                top:100%;
                left: 25px;
                padding: 0px;
                z-index: 1000;
                background-color: hsl(0, 0%, 98%);
                text-align: center;
            }

            nav li:hover .submenu li{
                padding: 8px;
                text-align: center;
                

                &:hover{
                    
                    color: hsl(0, 0%, 98%);
                    
                }
            }

            nav li:hover .submenu li a{
                color:hsl(0, 0%, 41%);
                margin: 0;
                padding: 0;
                text-align: center;
                display: flex;
                width: 100%;
                
                &:hover{
                    color: black;
                    scale: 1.1;
                    transition: 0.1s;
                    display: flex;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }
            }

            nav.menu ul li ul li a span{
                margin-right: 5px;
            }
          

            nav.connex{
                width: 30%;
                display: flex;
                justify-content: flex-end;
                margin: 0;
                padding: 0;
                margin-top:0px;
                height: 100px;
             
                
                ul.connex{
                    width: 40%;
                    margin: 0px;
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                
                    li.connex{
                        list-style-type: none;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        margin: 2px;
                        margin-top: 0px;
                        padding: 0;
                    
                        a{
                            text-decoration: none;
                            color: black;
                            padding: 10px;
                            border: 1px solid transparent;
                            border-radius: 15px;
                            display: flex;
                            width: 100%;
                            margin: 0;
                            justify-content: center;
                            align-items: center;

                            &:hover{
                                text-decoration: none;
                                color: black;
                                padding: 10px;
                                border: 1px solid black;
                                border-radius: 15px;
                                display: flex;
                                width: 100%;
                                margin: 0;
                                justify-content: center;
                                align-items: center;
                        
                            }
                    
                        }

                    }
                }
            }
        }
    }


    main{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        
        
        section.main-element{
            width: 95%;
            background-color: #F2F2F2;
            display: flex;
            justify-content: space-around;
            

            .texte{
                width: 45%;
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                margin-top: 120px;

                h1{
                    font-size: 80px;
                }

                p{
                    font-size: 18px;
                    line-height: 30px;
                    margin: 0;
                    padding: 0;
                }

                button.btn{
                    
                    padding: 10px;
                    border: 1px solid transparent;
                    border-radius: 15px;
                    width:28%;
                    height: 50px;
                    margin-top: 50px;
                    background-color: black;
                    color: hsl(0, 0%, 98%); ;
                    font-weight: 600;

                    &:hover{
                        
                        padding: 10px;
                        border: 1px solid black;
                        border-radius: 15px;
                        width:28%;
                        height: 50px;
                        margin-top: 50px;
                        background-color:transparent;
                        color: black ;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.3s;
                    }

                }

                .partner{
                    display: flex;
                    width: 85%;
                    justify-content: space-between;
                    margin-top: 100px;
                }
            }

            .banner{
                width: 38%;
                display: flex;
                margin-top: 30px;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                
            }
        }
    }
    footer{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-weight: 400;
        
    }
}
@import './media.scss';
